<div
  class="shadow-soft-xl w-full rounded-2xl bg-white bg-clip-border p-4 md:flex-none"
>
  <div class="relative flex min-w-0 flex-col break-words rounded-2xl border-0">
    <div class="flex-auto px-1 pt-6">
      <a [routerLink]="['apps', app.id]">
        <h4 class="text-2xl font-bold">
          {{ app.appName }}
        </h4>
      </a>
      <p class="mb-4 text-sm leading-normal">
        {{ app.appDescription }}
      </p>
      <a
        [routerLink]="['apps', app.id]"
        type="button"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-700"
      >
        Learn more <span aria-hidden="true">→</span>
      </a>
    </div>
  </div>
</div>
