<div class="bg-white">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <app-gradient [type]="1"></app-gradient>
    <div class="mx-auto max-w-2xl py-10">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Data to enrich your online business
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
          cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat
          aliqua.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="#"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Get started</a
          >
          <a href="/" class="text-sm font-semibold leading-6 text-gray-900"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>

    <div class="container mt-10">
      <article
        class="format format-sm sm:format-base lg:format-lg format-blue dark:format-invert mx-auto w-full max-w-2xl"
      >
        <header class="not-format mb-4 lg:mb-6">
          <h1
            class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:mb-6 lg:text-4xl"
          >
            Best practices for successful prototypes
          </h1>
        </header>

        <p class="mb-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          perferendis temporibus ea, soluta reprehenderit quia! Voluptas,
          tempore debitis. Et reiciendis, laboriosam est sint placeat incidunt
          explicabo ad itaque excepturi neque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae, modi possimus quae quo, aut
          quia odio est eius explicabo assumenda fuga nulla temporibus, in error
          mollitia facilis animi dolores cupiditate.
        </p>

        <figure class="mb-6">
          <img
            src="https://flowbite.s3.amazonaws.com/typography-plugin/typography-image-1.png"
            alt=""
          />
          <figcaption>Digital art by Anonymous</figcaption>
        </figure>

        <h2>Getting started</h2>

        <p class="mb-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          perferendis temporibus ea, soluta reprehenderit quia! Voluptas,
          tempore debitis. Et reiciendis, laboriosam est sint placeat incidunt
          explicabo ad itaque excepturi neque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae, modi possimus quae quo, aut
          quia odio est eius explicabo assumenda fuga nulla temporibus, in error
          mollitia facilis animi dolores cupiditate.
        </p>
        <h2>Getting started</h2>

        <p class="mb-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          perferendis temporibus ea, soluta reprehenderit quia! Voluptas,
          tempore debitis. Et reiciendis, laboriosam est sint placeat incidunt
          explicabo ad itaque excepturi neque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae, modi possimus quae quo, aut
          quia odio est eius explicabo assumenda fuga nulla temporibus, in error
          mollitia facilis animi dolores cupiditate.
        </p>
        <h2>Getting started</h2>

        <p class="mb-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          perferendis temporibus ea, soluta reprehenderit quia! Voluptas,
          tempore debitis. Et reiciendis, laboriosam est sint placeat incidunt
          explicabo ad itaque excepturi neque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae, modi possimus quae quo, aut
          quia odio est eius explicabo assumenda fuga nulla temporibus, in error
          mollitia facilis animi dolores cupiditate.
        </p>
        <h2>Getting started</h2>

        <p class="mb-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          perferendis temporibus ea, soluta reprehenderit quia! Voluptas,
          tempore debitis. Et reiciendis, laboriosam est sint placeat incidunt
          explicabo ad itaque excepturi neque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae, modi possimus quae quo, aut
          quia odio est eius explicabo assumenda fuga nulla temporibus, in error
          mollitia facilis animi dolores cupiditate.
        </p>
      </article>
    </div>
  </div>
</div>
