<div class="homepage">
  <div class="container px-4 py-6">
    <a
      href="/"
      type="button"
      class="rounded-full bg-black/50 px-4 py-2 text-sm font-bold leading-6 text-white shadow-sm hover:bg-black/60 focus:outline-none focus:ring-2 focus:ring-black/50 focus:ring-offset-2"
    >
      <span aria-hidden="true" class="inline-block rotate-180">→</span> Back
    </a>
  </div>

  <div class="container relative grid gap-8 px-4 py-20 md:grid-cols-1">
    <app-card [app]="appCard"></app-card>
  </div>
</div>